.form-button {
  height: 46px;
  border-radius: 23px;
  background-image: linear-gradient(to right, #ed8402 , #ee4f15);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  padding: 0 30px;
}

.form-button::after {
  content: ">";
  padding-left: 15px;
}
